:root {
  --color-dark: #121521;
  --color-middle: #1B213A;
  --color-light: #40467C;
  --color-light-hover: #51578C;
  --color-white: #ffffff;
  --text-dark: #141923;
  --text-light: #B2B2D3;

  --font-size-base: 20px;
  --grid-gutter: 30px;
}

/* common */
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.page {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: var(--font-size-base);
  font-weight: 400;
  background-color: var(--color-dark);
  color: var(--text-light);
}

/* layout */
.container {
  width: 1242px;
  margin: 0 auto;
}

.page-section {
  margin-bottom: 120px;
}

.page-section__title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 46px;
  margin: 0 0 40px;
  color: var(--color-white);
}

/* button */
.button {
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  text-decoration: none;
  padding: 0 40px;
  font-size: 17px;
  letter-spacing: 0.08em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px dotted var(--color-white);
}

.button--primary {
  background-color: var(--color-light);
  color: var(--color-white);
}

.button--primary:hover {
  background-color: var(--color-light-hover);
}

.button--secondary {
  background-color: transparent;
  color: var(--color-white);
  border: 2px solid var(--color-white);
}

.button--secondary:hover {
  background-color: var(--color-white);
  color: var(--text-dark);
}

.smallbutton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width:60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.25s ease;
  background-color: transparent;
  color: var(--color-white);
  border: 2px solid var(--color-light);
}

.smallbutton:active,
.smallbutton:hover {
  background-color: var(--color-light);
}


/* page-header */
.page-header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

/* mainmenu */
.mainmenu {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.mainmenu__item {
  margin-right: 42px;
}

.mainmenu__item:last-child {
  margin-right: 0;
}

.mainmenu__item a {
  color: var(--color-white);
  text-decoration: none;
  transition: color 0.2s ease;
}

.mainmenu__item a:hover {
  color: var(--text-light);
}

/* section-cover */
.section-cover {
  overflow: hidden;
}

.section-cover__row {
  display: flex;
  align-items: center;
}

.section-cover__main {
  width: 530px;
  flex-shrink: 0;
}

.section-cover__text {
  font-size: 32px;
}

.section-cover__title {
  font-size: 60px;
  font-weight: 400;
  color: var(--color-white);
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 0 10px;
}

.section-cover__title span {
  font-size: 20px;
  display: block;
  color: var(--text-light);
  font-family: 'Darker Grotesque', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin-bottom: 40px;
}

.section-cover__actions {
  margin-top: 100px;
  display: flex;
}

.section-cover__actions .button:not(:last-child) {
  margin-right: 30px;
}

/* section-benefits */
.section-benefits__row {
  display: flex;
}

.section-benefits__video {
  width: calc(50% - 15px);
  flex-shrink: 0;
}

.section-benefits__video-link {
  display: block;
  height: 100%;
}

.section-benefits__video img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.section-benefits__text {
  background-color: var(--color-middle);
  flex-grow: 1;
  padding: 70px 30px;
}

.section-benefits__text .page-section__title {
  margin-bottom: 30px;
}

.section-benefits__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 40px;
}

.section-benefits__item h3 {
  font-size: 30px;
  font-weight: 600;
  color: var(--color-white);
  margin: 0 0 20px;
}

.section-benefits__item p {
  margin: 0;
}

.videobox {
  position: relative;
}

.videobox::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to top, rgba(20, 25, 35, 0.6) 30%, rgba(20, 25, 35, 0) 100%);
}

.section-places__top {
  display: flex;
  justify-content: space-between;

}

.section-places__row {
  display: flex;
  justify-content: space-between;
}

.section-places__actions .smallbutton:not(:last-child) {
  margin-right: 30px;
}

.section-places__text {
  font-size: 20px;
  display: block;
  color: var(--text-light);
  font-family: 'Darker Grotesque', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.section-places__item h3 {
  font-size: 28px;
  font-weight: 600;
  color: var(--color-white);
  font-family: 'Darker Grotesque', sans-serif;
  margin: 0 0 20px;
}

.section-places__rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 40px;
  padding-top: 20px;
  
}


.section-places__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;

}
.section-places__item--overlay {
 position: relative;
}

.section-places__item--overlay:before {
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  
}

.section-places__item--overlay:hover::before {
  background-color:rgba(0,0,0,0.5);
}

.section-places__item--overlay img {
  display: block;
}
.section-places__item--overlay a {
  position: absolute;
  top: 160px;
  left: 80px;
  opacity:0;
}

.section-places__item--overlay:hover a {   
  opacity: 1;
}

.section-places__item--overlay:hover .overlay {
  background: linear-gradient(0deg, rgba(20, 25, 35, 0.8), rgba(20, 25, 35, 0.8)),
 
}


.section-gallery__top {
  display: flex;
  justify-content: space-between;
}

.section-gallery__top span {
  color: white;
}
.section-gallery__img {
  display: flex;
  flex-direction: row;
}
.section-gallery__img--left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-left: 30px;
  
}
.section-gallery__actions .smallbutton:not(:last-child) {
  margin-right: 30px;
}

.section-contact {
  overflow: hidden;  
}
.section-contact__row {
  display: flex;
  align-items: center;
}

.section-contact__main {
  background-color: var(--color-middle);
  height: 640px;
  width: 636px;
  
}
.checkbox__text {
  font-size: 20px;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 600;
  color: #B2B2D3;
}

.checkbox__text span {
  color: white;
  font-weight: 400;
}

.section-contact__actions {
  display: flex;
  justify-content: space-between;
  margin-left: 76px;
  margin-right: 76px;
}

.section-contact__title {
  padding-top: 100px;
  margin-left: 76px;
  margin-bottom: 50px;
 
}

.textinput {
  box-sizing: border-box;
  width: 484px;
  height: 60px;
  margin-bottom: 12px;
  margin-left: 76px;
  background-color: transparent;
  border: 2px solid var(--color-light);
}

.commentinput {
  box-sizing: border-box;
  width: 484px;
  height: 126px;
  margin-bottom: 12px;
  margin-left: 76px;
  background-color: transparent;
  border: 2px solid var(--color-light);

}

input:hover,
input:active {
  border: 2px solid white;
  
}

textarea:hover,
textarea:active {
  border: 2px solid white;
}

:focus::-webkit-input-placeholder {color: transparent};
:focus::-moz-placeholder          {color: transparent};
:focus:-moz-placeholder           {color: transparent};
:focus:-ms-input-placeholder      {color: transparent};

::-webkit-input-placeholder {color:#B2B2D3}
::-moz-placeholder          {color:#B2B2D3}
:-moz-placeholder           {color:#B2B2D3}
:-ms-input-placeholder      {color:#B2B2D3}

:hover::-webkit-input-placeholder {color: white};
:hover::-moz-placeholder          {color: white};
:hover:-moz-placeholder           {color: white};
:hover:-ms-input-placeholder      {color: white};